#experience {
    width: 100%;
    height: 100vh;
    display: flex;


    font-family: 'Russo One', sans-serif;
    font-size: 210px;
    text-transform: uppercase;

    .container {
        display: flex;
        flex-direction: column;


        .bottom {
           text-align: right;
        }
    }

    span {
        display: inline-block;
        transform-origin: top right;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
}
}