#experience {
    width: 100%;
    height: 100vh;
    display: flex;

    font-family: 'Russo One', sans-serif;

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 3vw;

        .top {
            font-size: 210px;
            text-transform: uppercase;
        }

        .bottom {
        width: 100%;
        display: flex;

        justify-content: right;

        .estla {
            display: flex;

            .st2 {
                padding-right: 40px;
            }
        }

        p {
            color: aliceblue;
            font-size: 27px;
            width: 30vw;
            padding: 60px 20px 0 0;
        }

        div  {
            font-size: 160px;
            text-transform: uppercase;
        }
        }
    }

    span {
        display: inline-block;
        transform-origin: top right;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
}
}